<!DOCTYPE html>
<html>
  <head>
    <title>SheikahNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
      window.vahRutaURL = "<%= image_url('vah_ruta_icon.jpg') %>"
      window.sheikahSlateURL = "<%= image_url('sheikah_slate_4k2.png') %>"
       
       
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
