<!DOCTYPE html>
<html>
  <head>
    <title>SheikahNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_path('github_favicon.png') %> 
    <%= favicon_link_tag asset_path('linkedin_favicon.png') %> 
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
      window.vahRutaURL = "<%= image_url('vah_ruta_icon.png') %>"
      window.sheikahSlateURL = "<%= image_url('sheikah_slate_4k2.png') %>"
      window.triforceURL = "<%= image_url('triforce.svg') %>"
      window.roundBombURL = "<%= image_url('round_bomb.png') %>"
      window.squareBombURL = "<%= image_url('square_bomb.png') %>"
      window.cryonisURL = "<%= image_url('cryonis.png') %>"
      window.magnesisURL = "<%= image_url('magnesis.png') %>"
      window.stasisURL = "<%= image_url('stasis.png') %>"
      window.leavingSORURL = "<%= image_url('leavingSOR.jpg') %>"
      window.splashClimbingURL = "<%= image_url('splashClimbing.jpg') %>"
      window.defaultUserURL = "<%= image_url('default_user.png') %>"
      window.blackPlusURL = "<%= image_url('black_plus.svg') %>"
      window.downCaratURL = "<%= image_url('down_carat.svg') %>"
      window.filledSideCaratURL = "<%= image_url('filled_side_carat.svg') %>"
      window.blackFilledSideCaratURL = "<%= image_url('black_filled_side_carat.svg') %>"

      window.slateIconURL = "<%= image_url('slate_icon.png') %>"

      window.notebookURL = "<%= image_url('notebook.svg') %>"
      window.blackNotebookURL = "<%= image_url('black_notebook.svg') %>"
      window.smallWhiteNotebookURL = "<%= image_url('small_white_notebook.svg') %>"

      window.allNotesURL = "<%= image_url('all_notes.svg') %>"
      window.tagsURL = "<%= image_url('tags.svg') %>"

      window.newNotebookURL = "<%= image_url('new_notebook.svg') %>"


      window.ellipsisURL = "<%= image_url('ellipsis.svg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
