<!DOCTYPE html>
<html>
  <head>
    <title>SheikahNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_path('github_favicon.png') %> 
    <%= favicon_link_tag asset_path('linkedin_favicon.png') %> 
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
      window.vahRutaURL = "<%= image_url('vah_ruta_icon.png') %>"
      window.sheikahSlateURL = "<%= image_url('sheikah_slate_4k2.png') %>"
      window.triforceURL = "<%= image_url('triforce.svg') %>"
      window.roundBombURL = "<%= image_url('round_bomb.png') %>"
      window.squareBombURL = "<%= image_url('square_bomb.png') %>"
      window.cryonisURL = "<%= image_url('cryonis.png') %>"
      window.magnesisURL = "<%= image_url('magnesis.png') %>"
      window.stasisURL = "<%= image_url('stasis.png') %>"
      window.leavingSORURL = "<%= image_url('leavingSOR.jpg') %>"
    

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
